<div class="row">
  <div class="small-12 small-centered columns">

  	<div class="row">
			<h1>New Component</h1>
			<%= render 'form' %>
		</div>
		
		<br><br>
			
		<%= unless params[:parent_id].nil?
					link_to '<-- Back', component_path(params[:parent_id]) 
				else
					link_to '<-- Back',  components_path 
				end
		%>
	</div>
</div>
