<div class="row">
  <div class="small-12 small-centered columns">
		
		<h1>New System Test</h1>

		<%= render 'form' %>

		<%= unless params[:parent_id].nil?
					link_to '<-- Back', system_test_path(params[:parent_id]) 
				else
					link_to '<-- Back',  system_tests_path 
				end
		%>

	</div>
</div>