<div class="row">
  <div class="small-12 small-centered columns">
		
		<h1>New Data Field</h1>

		<%= render 'form' %>

		<%= unless params[:parent_id].nil?
					link_to '<-- Back', data_field_path(params[:parent_id]) 
				else
					link_to '<-- Back',  data_fields_path 
				end
		%>

	</div>
</div>