<div class="row">
  <div class="small-12 small-centered columns">

		<h1>New Use Case</h1>

		<%= render 'form' %>

		<%= unless params[:parent_id].nil?
					link_to '<-- Back', use_case_path(params[:parent_id]) 
				else
					link_to '<-- Back',  use_cases_path 
				end
		%>
	</div>
</div>