<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h2>Download LaTeX</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <table width="100%">
          <tbody>
              <tr>
              	<td><%= link_to "Export Back-end", downloads_backend_path %></td>
              </tr>
              <tr>
              	<td><%= link_to "Export Front-end", downloads_frontend_path %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>