<div class="row">
  <div class="small-12 small-centered columns">

		<h1>Editing requirement</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @requirement %> |
		<%= link_to 'Back', requirements_path %>

	</div>
</div>