<% provide(:title, 'Home') %>

<div class="row">
	<div class="small-12 small-centered columns">
		<img src="/assets/steaklogo.png" id="steak-logo" />
	</div>	
</div>

<div class="row">
	<div class="small-12 small-centered columns">
		<h2>About us</h2>
		<p>
		Siamo un gruppo di studenti di informatica dell'Universit&agrave; di Padova formatosi per il corso di Ingegneria del Software dell'anno accademico 2013/2014.
		</p>
		<blockquote>
			<p>"Una squadra di rugby è come una bistecca con insalata.<br />
			Chi è la bistecca? Gli avanti.<br />
			Chi è l'insalata? I Trequarti.<br />
			Cominciamo dalla bistecca."
			</p>
			<cite>Marco Pastonesi</cite>
		</blockquote>	
	</div>
</div>
<br><br>
<div class="row">
	<div class="small-12 small-centered columns">
		<h2>
			The Project <span class="span-title">C01</span>
		</h2>
		<p>
		Il progetto prevede la realizzazione del framework <strong>MaaP</strong> (MongoDB as an admin Platform).
		<br />
		Il capitolato in questione è il C01. Maggiori informazioni reperibili qui: <a href="http://www.math.unipd.it/~tullio/IS-1/2013/Progetto/C1.pdf" target="_blank">http://www.math.unipd.it/~tullio/IS-1/2013/Progetto/C1.pdf</a>
		</p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="small-12 small-centered columns">
		<h2>
			SteakHolders <span class="span-title">Team</span>
		</h2>
	
		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
			<li>
				<div class="stay-center">
				<img src="/assets/luca.jpg" class="img-circle" />
				<address> 
					<br /> 
					<strong>De Franceschi Luca</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:luca.defranceschi.91@gmail.com">luca.defranceschi@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/Defra91" target="_blank">facebook/Defra91</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/Defra91" target="_blank"> twitter/Defra91</a>
				</address>
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/gian.jpg" class="img-circle" /> 
				<address>
					<br /> 
					<strong>Donato Gianluca</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:gian.dnt@gmail.com">gian.dnt@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/giandnt" target="_blank">facebook/giandnt</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/IlGian_" target="_blank"> twitter/IlGian</a>
				</address>
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/giacomo.jpg" class="img-circle" />
				<address>
					<br /> 
					<strong>Fornari Giacomo</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:fornarigiacomo@gmail.com">fornarigiacomo@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/fornarigiacomo" target="_blank">facebook/fornarigiacomo</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/fornarigiacomo" target="_blank"> twitter/fornarigiacomo</a>
				</address>	
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/serena.jpg" class="img-circle" />
				<address>
					<br /> 
					<strong>Girardi Serena</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:girardiserena@gmail.com">girardiserena@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/serena.girardi.9" target="_blank">facebook/serena.girardi.9</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/Serex_" target="_blank"> twitter/Serex_</a>
				</address>		
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/federico.jpg" class="img-circle" />
				<address>
					<br /> 
					<strong>Poli Federico</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:federpoli@gmail.com">federpoli@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/federpoli" target="_blank">facebook/federpoli</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/federpoli" target="_blank"> twitter/federpoli</a>
				</address>	
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/enrico.jpg" class="img-circle" />
				<address>
					<br /> 
					<strong>Rotundo Enrico</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:enricorotundo@gmail.com">enricorotundo@gmail.com </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/enrico.rotundo" target="_blank">facebook/enrico.rotundo</a> <br />
					<img src="/assets/twitter.png" /> <a href="https://twitter.com/enricorotundo" target="_blank"> twitter/enricorotundo</a>
				</address>
				<div class="stay-center">
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/nic.png" class="img-circle" />
				<address>
					<br /> 
					<strong>Tresoldi Niccolo</strong><br /> 
					<img src="/assets/mail.png" /> <a href="mailto:nicolo.tresoldi@hotmail.it">nicolo.tresoldi@hotmail.it </a><br /> 
					<img src="/assets/facebook.png" /> <a href="https://www.facebook.com/babbo.natale.56" target="_blank">facebook/nicolo.tres</a> <br /> 
					<img src="/assets/twitter.png" /> <a href="#" target="_blank"> twitter/ntres</a>
				</address>
				</div>
			</li>
			<li>
				<div class="stay-center">
				<img src="/assets/steakman.png" class="img-circle" />
				<address>
					<br /> 
					<strong>Steak Man</strong><br /> 
					<img src="/assets/mail.png" /> <strong><small>Contatta il team:</small></strong> 
					<a href="mailto:netloghelp@gmail.com">steakholders.group@gmail.com </a><br /> 
					<img src="/assets/github.png" /> <a href="https://github.com/steakholders/docs" target="_blank"> github/steakholders</a><br /> 
					
				</address>	
				</div>
			</li>
		</ul>
	</div>
</div>
<br><br>
<div class="row">
	<div class="panel large-12 large-centered columns" style="margin-top: 35px;">
	  	<h1>
			Go to Requisteak!
		</h1>
		<p>
			Requisteak è una applicazione web fatta dal team Steakholders per automatizzare il <strong>tracciamento dei requisiti</strong> del progetto sopraindicato.
		</p>
		<p>
			<%= link_to "Accedi", new_user_session_path, class: "button active" %>
		</p>
	</div>
</div>

<%= render './layouts/footer' %>