/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	height: 100%;
}
.main {
	padding-top: 50px;
	margin-bottom: 50px;
}

.footer {
	background: #333333;
	color: #858585;
	margin-top: 35px;
	padding: 24px 0 20px;
}

.radio_form_btn {
	list-style: none;
	padding: 0;
	margin: 0;
}
.treelabel {
	padding: 6px;
	color: #222;
}
.nested_p {
	margin-top: 12px;
}
.nested_label {
	display: inline;
	cursor: default;
}