// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_wrapper {
	max-width: 480px;
	margin-left: 10px;
	background: #fff;
	padding: 15px 0;
	margin-bottom: 1.25rem;
	border: solid 1px #dddddd;
	p {
		margin-bottom: 15px;
	}
	label {
		margin-bottom: 0;
	}
	ul {
		margin-top: 5px;
	}
}
