// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.error-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:orange,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}

.green {
  background: #43ac6a !important; 
}
.orange {
  background: #f39c12 !important;
}
.purple {
  background: #8e44ad  !important;
}
.velvet {
  background: #906094  !important;
}
.water {
  background: #16a085 !important; 
}
.dark {
  background: #34495e !important;
}
.red {
  background: #DC554F !important;
}
.blue {
  background: #415C71 !important;
}
.gray {
  background: #7f8c8d !important;
}

textarea { 
  height: 120px; 
}

.tabs dd > a {
  padding: 5px !important;
  margin-right: 5px;
}

p {
  margin-bottom: auto;
}
ul {
  margin-bottom: 0.25rem;
}
.row {
  max-width: 88.5rem;
}