// Place all the styles related to the requirements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested_requirements {
	margin-left: 30px;
}
.requirement label a {
	color: #fff !important;
}
.parents div.requirement label {
	background: #34495e !important;
}
.childs div.requirement label {
	background: #43ac6a !important;
}
