<div class="footer">
	<div class="row">
		<div class="small-12 columns">
			<div class="right">
				<em> "Stay Hungry, Stay Steak!" - <small> Steak Jobs </small></em>
			</div>
			<div class="left">
				&copy; 2013 <strong>SteakHolders</strong>
			</div>
		</div>
	</div>
</div>